body {
    font-family: Open Sans, serif;
	font-size: 100%;
	line-height: 175%;
	margin: 0 10%;
}
body, html { 
	overflow-x: hidden;
}
.header-wrap {
    text-align: center;
    margin: 15;
    white-space: nowrap;
}
.UserLogin {
	text-align: center;
	height: 50px;
	white-space: nowrap;
}
.table {
}
.content {
    display: table-row;
}
.sidebar {
    display: table-cell;
    min-width: 450px;
    line-height: 3;
    white-space: nowrap;
}
.sidebar-container input {
	text-align: right;
}
.sidebar-container, .workspace-container {
	margin: 15px;
}
.input-container {
	height:300px;
}
.small-container {
	
}
.small-img {
	width: 350px;
	height: 200px;
	text-align: center;
	margin: 0 40px;
}
.small-img img {
	max-width: 350px;
	max-height: 200px;
}
textarea {
	width: 400px;
	height: 280px;
	
	max-width: 400px;
	max-height: 280px;
	
	min-width: 200px;
	min-height: 50px;
}
.log-container {
	margin: 10px;
}
.log-container textarea {
	overflow-y: scroll;
	line-height: 1.2;
	max-width: 400px;
	max-height: 100px;
	min-width: 400px;
	min-height: 100px;
}
.workspace {
    width: 100%;
    display:table-cell;
    height: 800px;
}
.zoom-buttons {
	white-space: nowrap;
}
.img-container {
	position: absolute;
	width: 60%;
	height: 70%;
    overflow-x: auto;
    overflow-y: auto;
    text-align: center;
    margin: 10px;
    border-style: dotted;
}
.img-container img {
	width: auto;
	height: auto;
    position: absolute;
	top: 50%;
    left: 50%;
    margin-right: 50%;
    transform: translate(-50%, -50%);
}
.text-out {
	text-align: center;
	margin: 10% 0;
}

a:link{
		color: cyan;
	}
	a:visited{
		color: cyan;
	}
	a:hover{
		color: cyan;
		background-color: #fff;
	}
	a:active{
		color: #ff00ff;
		background-color: #fff;
	}
	a:focus { color: #c700f2; background-color: #fff; }
